/* ROOT */

:root{
    --light-txt_bg: #ECE4DF;
    --dark-txt_bg: #051719;
    --grey: #989898;
    --blue: #1B5D64;

    --poppins: poppins, sans-serif;

    --txt-size-16: 1rem;
    --txt-size-20: 1.25rem;
    --txt-size-24: 1.5rem;
    --txt-size-32: 2rem;
    --txt-size-64: 4rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
