:root{
    --light-txt-bg: #ECE4DF;
    --dark-txt-bg: #051719;
    --grey: #989898;
    --blue: #1B5D64;
    --pink: #743666;
    --notsure1: #1B5D64;
    --notsure2: rgb(105, 42, 31);
    --green: #257922;

    --poppins: poppins, sans-serif;

    --txt-size-16: 1rem;
    --txt-size-20: 1.25rem;
    --txt-size-24: 1.5rem;
    --txt-size-32: 2rem;
    --txt-size-64: 4rem;

    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --desk-margins: 4% 10%;
}

.involve-hero{
    background: url(/images/involve-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    color: var(--light-txt-bg);
}

.for-kids{
    display: flex;
    background-color: var(--green);
    border-radius: 10px;
    padding: 10px;
}

.kids-text{
    flex: 1;
    padding: 10px;
    color: var(--light-txt-bg);
}

.kids-text p, .teachers p, .researchers p, .researchers img{
    margin-top: 20px;
}

.kids-lower{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.kids-large{
    flex: 2;
    background: url(/images/involve-kids1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.kids-small{
    flex: 1;
    display: flex;
}

.card-image-s{
    margin: 10px;
}

#involve-img2{
    flex: 1;
    background: url(/images/involve-kids2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#involve-img3{
    flex: 1;
    background: url(/images/involve-kids5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#involve-img4{
    flex: 1;
    background: url(/images/involve-kids4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.teachers img, .researchers img{
    max-height: 200px;
    width: 100%;
    object-fit: cover
}

.teachers{
    background-color: var(--notsure2);
    color: var(--light-txt-bg);
    border-radius: 10px;
}

.teachers-txt{
    padding: 20px;
}

.researchers{
    background-color: var(--notsure1);
    color: var(--light-txt-bg);
}

.research-txt{
    padding: 20px;
}

.involve-end, .welcome-txt{
    color: var(--dark-txt-bg);
    font-size: var(--txt-size-20);
    font-weight: var(--fw-medium);
}
