:root{
    --light-txt-bg: #ECE4DF;
    --dark-txt-bg: #051719;
    --grey: #989898;
    --blue: #1B5D64;
    --pink: #743666;
    --notsure1: #1B5D64;
    --notsure2: rgb(105, 42, 31);
    --green: #257922;

    --poppins: poppins, sans-serif;

    --txt-size-16: 1rem;
    --txt-size-20: 1.25rem;
    --txt-size-24: 1.5rem;
    --txt-size-32: 2rem;
    --txt-size-64: 4rem;

    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --desk-margins: 4% 10%;
}

.exhibitions-hero{
    background: url(/images/exhibit-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    color: var(--light-txt-bg);
}

.exhibit-card{
    max-width: 1100px;
    flex-wrap: wrap;
    color: white;
    padding: 30px;
    display: flex;
    margin: 2rem auto;
    gap: 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.ex-card-info{
    flex: 2;  
    font-weight: var(--fw-light);
    font-size: var(--txt-size-20);
}

.ex-fat{
    font-size: var(--txt-size-20);
    font-weight: var(--fw-bold);
}

.cosmo-img{
    background: url(/images/cosmo-space.jpg);
}

.bio-img{
    background: url(/images/bio-virus.jpg);
}

.evo-img{
    background: url(/images/evo-darwin.jpg);
}

.eco-img{
    background: url(/images/eco-droplet.jpg);
}

.robo-img{
    background: url(/images/robo-robo.jpg);
}

.robo-img, .eco-img, .evo-img, .bio-img, .cosmo-img{
    flex: 1;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ex-card-info p, .ex-card-info h3{
    margin-top: 20px;
}


.ex-card-info h3{
    font-size: var(--txt-size-20);
    font-weight: var(--fw-medium);
}

.cosmos, .evo, .robos{
    background-color: rgb(17, 88, 67);
}

.bio, .ecol{
    background-color: rgb(190, 133, 26);
}

.exhib-welcome p{
    font-size: var(--txt-size-20);
    font-weight: var(--fw-medium);
}

/*mediaqueries*/

@media (max-width: 1200px){

    .exhibit-card{
        margin: 2rem 2rem;
    }

    .ex-card-info{
        font-size: 16px;
    }

    .ex-card-info h3{
        font-size: var(--txt-size-16);
        font-weight: var(--fw-medium);
    }
}

@media (max-width: 800px){

    .exhibit-card{
        
    }
}