
@import url(/about/about.css);
@import url(/exhibitions/exhibitions.css);
@import url(/visit/visit.css);
@import url(/events/events.css);
/* GLOBAL */

/* ROOT */

:root{
    --light-txt-bg: #ECE4DF;
    --dark-txt-bg: #051719;
    --grey: #989898;
    --blue: #1B5D64;

    --poppins: poppins, sans-serif;

    --txt-size-16: 1rem;
    --txt-size-20: 1.25rem;
    --txt-size-24: 1.5rem;
    --txt-size-32: 2rem;
    --txt-size-64: 4rem;

    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --desk-margins: 4% 10%;
}


body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--light-txt-bg);
    font-family: var(--poppins);
    box-sizing: border-box;
}

main{
    flex: 1;
}

/* Text-decoration */

h1, h2, h3, p, a{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2{
    font-weight: var(--fw-medium);
    font-size: var(--txt-size-24);
}

h2{
    background: url(/images/underline.png) bottom left no-repeat;
}

h1{
    background: url(/images/underline-white.png) bottom left no-repeat;
}

h1{
    font-size: var(--txt-size-64);
}

/* Button */

.button{
    padding: 5px 10px;
    border-radius: 100px;
    border: 2px;
    border-style: solid;
    border-color: var(--blue);
    width: fit-content;
    height: fit-content;

}

.button a{
    font-size: var(--txt-size-16);
    color: var(--dark-txt-bg);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}


.divider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider img{
    width: 70%;
    height: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: var(--txt-size-20);
}

.header-info{
    display: flex;
}

.one{
    display: flex;
    justify-content: space-between;
    padding: var(--txt-size-20);
}

.headline p{
    margin: var(--txt-size-20);
    background: url(/images/underline.png) bottom left no-repeat;
}

nav{
    padding-bottom: 20px;
    padding-left: var(--txt-size-20);
}

nav a{
    color: var(--grey);
    padding: var(--txt-size-20);
}

nav a.current{
    color: var(--dark-txt-bg);
}

.header-info{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--txt-size-64);
    padding-right: var(--txt-size-20);
    align-items: center;
    font-size: var(--txt-size-16);
}


.hero-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(/images/hero-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
    height: 35rem;
    justify-content: center;
    padding: 0 var(--txt-size-20);
    color: var(--light-txt-bg);
    font-weight: var(--fw-regular);
    gap: 2rem;

}

.hero-main h1{
    font-weight: var(--fw-medium);
}

.hero-main p{
    max-width: 700px;
}

.thin{
    font-weight: var(--fw-extra-light);
}

.events-main{
    display: block;
    justify-content: space-between;
    padding: var(--txt-size-20) 0;
    margin: 4% 10%;
}

.events-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 3% 0;

}

.card{
    display: flex;
    flex-direction: column;
    max-width: 30%;

}

.card p{
    margin: 10px 0;
}

.exhibitions{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: var(--txt-size-20) 0;
    margin: 4% 10%;   
    gap: 2rem;
}

.exhibit-main-info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 35%;
}

.exhibit-main-info h2{
    margin-bottom: 5rem;
}

.images{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.images img{
    width: 100%;
    height: auto;
}


.image-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.involve{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 4% 10% 2% 10%;
    gap: 3rem;
}

.involve-txt{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.involve-text h2{
    margin-bottom: 2rem;
}


.involve img{
    height: auto;
    width: 100%;    
}

.back-to-top{
    display: flex;
    margin-bottom: 2%;
}

.back-to-top a{
    color: var(--dark-txt-bg);
    font-weight: var(--fw-semibold);
    font-size: var(--txt-size-20);
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--light-txt-bg);
    padding: 4% 40px;
}

.logo-footer p{
    background: url(/images/underline.png) bottom left no-repeat;
    font-size: var(--txt-size-20);
}

.footer-address{
    font-size: var(--txt-size-20);
    justify-content: space-between;
    font-weight: var(--fw-light);
}

footer a{
    display: block;
    color: var(--light-txt-bg);
    font-size: var(--txt-size-20);
    font-weight: var(--fw-light);
}

.socials{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

.socials img{
    height: auto;
    width: 10%;
}

.container{
    margin: 4% 15%;
}

