@import url(/css/_footer.css);
@import url(/css/_header.css);
@import url(/css/_global.css);
@import url(/css/_pages.css);
@import url(/css/_media.css);

/* ROOT */

:root{
    --light-txt-bg: #ffffff;
    --dark-txt-bg: #051719;
    --grey: #989898;
    --blue: #1B5D64;
    --pink: #743666;
    --deep-red: rgb(105, 31, 31);
    --green: #346d31;
    --yellow: rgb(190, 133, 26);
    --background: #ECE4DF;


    --poppins: poppins, sans-serif;

    --txt-size-16: 1rem;
    --txt-size-20: 1.25rem;
    --txt-size-24: 1.5rem;
    --txt-size-32: 2rem;
    --txt-size-64: 4rem;

    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --desk-margins: 4% 10%;

}